= render "layouts/devise-header"
.job-detail-middle
  .job-box
    = form_with model: @del, url: job_request_dels_path(@request.id), method: :post, local: true do |f|
      %ul.job-contents
        .jobs-list
          %li 依頼名
          = f.text_field :name
          %li 内容
          = f.text_area :text 
        = f.submit "送信"
= render "layouts/footer"
