= render "layouts/devise-header"
%h2 Sign up
= form_for @user, url: signup_users_path, id: 'inputForm', name: "inputForm", method: :get do |f|
  = render "devise/shared/error_messages", resource: resource
  .field
    氏
    = f.text_field :last_name, value: ""
  .field
    名
    = f.text_field :first_name, value: ""
  .field
    ユーザー名
    = f.text_field :nickname, value: ""
  .field
    メールアドレス
    = f.text_field :email, value: ""
  .field
    パスワード
    = f.text_field :password, value: ""
  -# .field
  -#   = f.label :password_confirmation
  -#   %br/
  -#   = f.password_field :password_confirmation, autocomplete: "new-password"
  .actions
    = f.submit "Sign up"
= render "devise/shared/links"
= render "layouts/footer"
