.top-page-body
  = render "layouts/header"
  .top-page-middle
    .jobs-list
      - @jobs.each do |job|
        -# -binding.pry
        = link_to job_path(job.id) do
          .jobs-list__box
            .list-contents
              %ul.left-list
                %li.left-icon
                  =image_tag "icon.png", size: "150x150"
                %li.user-name
                  %span= job.user.nickname
              .right-list
                %ul.right-list-top
                  %li.jobs-title
                    %span= job.name
                  %li.jobs-price
                    希望報酬:¥
                    %span= job.hope_price
                  %li.user-like-ave
                    ★
                    %span= job.user.reviews.average(:star).floor(2).to_f
                %ul.right-list-bottom
                  %li.jobs-text
                    %span= job.text
  = render "layouts/footer"