.top-page-body
  .header
    .header-list
      .logo-mark.item
        MiniJob
      .item
        = form_with class: "search-form", local: true do |f|
          = f.text_field :keyword, type: "search", placeholder: "検索フォームです！！", value: "", class: "texts", name: "keyword", id: ""
          = f.button class: "sub-button" do
            %i.fas.fa-search
      .sign-btn.item.account
        = link_to "新規登録", class: "signup-account"
      .login-btn.item.account
        = link_to "ログイン", class: "login-account"
  .top-page-middle
    .jobs-list
      .jobs-list__box
        .list-contents
          %ul.left-list
            %li.left-icon
              =image_tag "gacky.jpg", size: "150x150"
            %li.user-name
              user.nickname
          .right-list
            %ul.right-list-top
              %li.jobs-title
                job.name
              %li.jobs-price
                希望価格 ¥job.price
              %li.user-like-ave
                ★3.5
            %ul.right-list-bottom
              %li.jobs-text
                job.textです。200字以内の商品説明文を表示されるように設定します。
                今書いてあるものは仮置きです。アイコンはガッキーです。可愛いですよね。
                私はガッキーと貫地谷しほりが好きです。あなたはどの女優さんが好きですか？
  .footer
    .footer__content
      ©️Tetsuya Omoto