= render "layouts/devise-header"
.job-detail-middle
  .job-box
    %ul.job-contents
      = form_with model: @message, url: new_job_message_path(@job), method: :get, local: true do |f|
        %li= @job.name
        %li.left-icon
          =image_tag "gacky.jpg", size: "150x150"
        %li= @job.user.nickname
        %li 
          希望報酬:
          %span= @job.hope_price
        %li ★3.5
        %li= @job.text
        = f.submit "依頼メッセージを送る"
= render "layouts/footer"
