= render "layouts/devise-header"
.job-detail-middle
  .job-box
    %ul.job-contents
      .jobs-list
        %li= @job.name
        %li.left-icon
          =image_tag "icon.png", size: "150x150"
        %li= @job.user.nickname
        %li 
          希望報酬:
          %span= @job.hope_price
        ★
        %span= @job.user.reviews.average(:star)
        %li= @job.text
      - if @job.messages == nil
        %span メッセージはありません
      - else
        - @job.messages.each do |message|
          .jobs-list__box
            .list-contents
              %ul.left-list
                %li.left-icon
                  =image_tag "gacky.jpg", size: "150x150"
                %li.user-name
                  %span= @job.user.nickname
                %ul.right-list-bottom
                  %li.jobs-text
                    %span= message.text
      = form_with model: @message, url: job_messages_path(@job), local: true do |f|
        = f.text_field :text, name: "message[text]"
        = f.submit "コメントする"
      = form_with model: @message, url: new_job_request_path(@job), method: :get, local: true do |f|
        = f.submit "依頼フォームを送る"
= render "layouts/footer"
