= render "layouts/devise-header"
.mypage-middle
  .side-bar
    %ul.sidebar-list
      = link_to "", class: "sidelink" do
        %li.side-bar-link
          .side-link-text
            マイページ
      = link_to "", class: "sidelink" do
        %li.side-bar-link
          .side-link-text
            プロフィール
      = link_to "", class: "sidelink" do
        %li.side-bar-link
          .side-link-text
            詳細情報
      = link_to "", class: "sidelink" do
        %li.side-bar-link
          .side-link-text
            お知らせ
      = link_to new_job_path, class: "sidelink" do
        %li.side-bar-link
          .side-link-text
            Job掲載
      = link_to submit_index_job_requests_path(@user, @jod), class: "sidelink" do
        %li.side-bar-link
          -if @dels ==nil
            .side-link-text
            納品はございません
          -else
            .side-link-text
              納品
              %span= @dels.count
              件
      = link_to job_requests_path(@user.job.id), class: "sidelink" do
        %li.side-bar-link
          -if @requests ==nil
            .side-link-text
            依頼はございません
          -else
            .side-link-text
              依頼
              %span= @requests.count
              件
      = link_to "", class: "sidelink" do
        %li.side-bar-link
          .side-link-text
            収入履歴
      = link_to "", class: "sidelink" do
        %li.side-bar-link
          .side-link-text
            支払い履歴
      = link_to destroy_user_session_path, method: :delete, class: "sidelink" do
        %li.side-bar-link
          .side-link-text
            ログアウト
  .body-page
    マイページです
= render "layouts/footer"
