= render "layouts/devise-header"
- if @requests == nil
  %span 納品はありません
- else
  この依頼の納品が来ています。
  - @requests.each do |request|
    .jobs-list__box 
      = link_to job_request_del_path(@user, @job, request.id) do
        .list-contents
          %ul.left-list
            %li.left-icon
              =image_tag "gacky.jpg", size: "150x150"
            %li.user-name
              %span= request.name
            %ul.right-list-bottom
              %li.jobs-text
                %span= request.text
= render "layouts/footer"