.header
  .header-list
    .logo-mark.item
      MiniJob
    .item
      = form_with class: "search-form", local: true do |f|
        = f.text_field :keyword, type: "search", placeholder: "検索フォームです！！", value: "", class: "texts", name: "keyword", id: ""
        = f.button class: "sub-button" do
          %i.fas.fa-search
    .sign-btn.item.account
      = link_to "新規登録", new_user_registration_path, class: "signup-account"
    .login-btn.item.account
      = link_to "ログイン", new_user_session_path, class: "login-account"